@{
    ViewBag.Title = "Home Page";
}
<style>
    #banner {
        background-image: url("../../Pictures/etactics-inc-C3LObo2vp_Y-unsplash.jpg");
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

</style>
<div class="jumbotron" id="banner">
    <h1 style="color:black;font-weight:900;">Welcome To <br />HMS</h1>
    <p class="lead" style="color:black; font-weight:500">Hospital Management System</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<br /><br />
<br /><br />


<div class="row">
    <br /><br />
    <div class="col-md-4">
        <h2>About this Project</h2>
        <p>
            This project was born out of a need for a more efficient and effective way to manage healthcare facilities.
            We saw firsthand the challenges that hospitals face in terms of Doctor Records, tracking patient records,
            and handling administrative tasks. That's why we developed this system,
            which aims to make these processes smoother and more efficient.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>How To Use it</h2>
        <p>
            There are two tabs besides home tab. By the name of those tabs you can tell that you can add the doctors data and as well as
            patient's data.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Get your Self Registered First</h2>
        <p>
            To get access to those tabs all you want first is get yourself registered first and through those same
            credentials you can log in.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>

</div>
